<div class="container mt-5">
  <!-- Sección para establecer el nombre del usuario -->
  <div class="mb-4">
    <div class="input-group">
      <div class="input-group">
        <span class="input-group-text" id="basic-addon3">Usuario </span>
        <input
          type="text"
          class="form-control"
          placeholder="Ingrese su nombre..."
          [(ngModel)]="userName"
          [disabled]="isInputDisabled"
        />

        <ng-container *ngIf="isButtonsDisabled">
          <button
            *ngIf="isButtonEditDisabled"
            class="btn btn-primary"
            (click)="setUserName(userName)"
          >
            Establecer
          </button>

          <button
            *ngIf="!isButtonEditDisabled"
            class="btn btn-outline-warning"
            (click)="editName()"
          >
            Modificar
          </button>
        </ng-container>
      </div>
    </div>
  </div>

  <ng-container *ngIf="isButtonCreateJoinDisabled">
    <!-- Sección para crear nueva sala o salir de una sala -->
    <div class="d-grid gap-2 mb-5">
      <button
        *ngIf="isButtonCreateJoinDisabled"
        class="btn btn-success"
        (click)="createRoom()"
      >
        Crear Sala
      </button>

      <div class="input-group">
        <input
          type="text"
          class="form-control"
          placeholder="Ingrese ID de la sala..."
          [(ngModel)]="roomName"
        />
        <button class="btn btn-primary" (click)="joinExistingRoom(roomName)">
          Unir
        </button>
      </div>
    </div>
    <!-- Sección para unirse a una sala existente -->
  </ng-container>

  <ng-container *ngIf="isChatDisabled">
    <div class="mb-3">
      <div class="input-group">
        <span class="input-group-text" id="basic-addon3">ID sala</span>
        <input type="text" class="form-control" readonly [value]="roomName" />
      </div>
    </div>
    <!-- Sección para leer mensajes -->
    <div
      class="chat-messages mb-4"
      style="
        height: 600px;
        overflow-y: scroll;
        border: 1px solid #ccc;
        padding: 10px;
      "
    >
      <div *ngFor="let message of messages" class="mb-1">
        <span
          class="badge mr-2"
          [ngClass]="
            message.sender.split(' | ')[1] === userName
              ? 'text-bg-primary'
              : 'text-bg-dark'
          "
          >{{ message.sender }}</span
        >
        <span *ngIf="message.sender">&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span>{{ message.text }}</span>
      </div>
    </div>

    <!-- Sección para enviar mensajes -->
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        placeholder="Escribe tu mensaje"
        [(ngModel)]="newMessage"
      />
      <button class="btn btn-primary" (click)="sendMessage()">Enviar</button>
    </div>
    <div class="d-grid gap-2 mt-4">
      <button class="btn btn-outline-danger" (click)="leaveCurrentRoom()">
        Salir de la sala
      </button>
    </div>
    <!-- Sección para salir de una sala -->
  </ng-container>
</div>
